<h1>Welcome to Sinatra NYC!</h1>
  <h2>Browse</h2>

    <h3><a href="/figures">Figures</a></h3>
    <h3><a href="/landmarks">Landmarks</a></h3>

    <br></br>

  <h2>Create</h2>
    <h3><a href="/figures/new">Add New Figures</a></h3>
    
